# **Solution For Numpy Assignment**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [24]:
array1=np.zeros(10)
array1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [6]:
array2=np.arange(10,50)
array2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [11]:
np.shape(array2)

(40,)

5. Print the type of the previous array in question 3

In [13]:
type(array2)
type(array1)

numpy.ndarray

6. Print the numpy version and the configuration

In [18]:
print(np.__version__)
print(np.__config__)

1.19.4
<module 'numpy.__config__' from 'c:\\users\\eng saqib shafiq\\appdata\\local\\programs\\python\\python39\\lib\\site-packages\\numpy\\__config__.py'>

7. Print the dimension of the array in question 3

In [21]:
array2.ndim

1

8. Create a boolean array with all the True values

In [29]:
array3=np.array([1,1,1,1], dtype=bool)
array3

array([ True,  True,  True,  True])

9. Create a two dimensional array

In [34]:
array4=np.array([[1,2,3],[1,2,3]])
array4

array([[1, 2, 3],
       [1, 2, 3]])

10. Create a three dimensional array

In [35]:
array5=np.array([[1,2,3],[1,2,3],[1,2,3]])
array5

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [58]:
array6=np.arange(5)
array6
array6[::-1]

array([4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [60]:
vector2=np.zeros(10)
vector2[5]=1
vector2

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [66]:
#matrix=np.array([[1,0,0],[0,1,0],[0,0,1]])
#matrix
#Simple Method just calling identity function
matrix=np.identity(3)
matrix
#Oh wow it's Working

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [68]:
arr=np.array([1,2,3,4,5], dtype=float)
arr
#Successfully changed into float value

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [86]:
arr1=np.array([[1., 2., 3.],[4., 5., 6.]])                    
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
#As we know that for matrix multiplication we have to follow mxn rule. That's Why i reshape the order of matrix 2 then using dot function i multplied and succeeded.
arr3=arr2.reshape(3,2)
arr4=np.dot(arr1,arr3)
arr4

array([[  8.,  54.],
       [ 17., 123.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [92]:
arr8=np.array([[1., 2., 3.],[4., 5., 6.]])
arr9 = np.array([[0., 4., 1.],[7., 2., 12.]])
comparison=arr1==arr2
#arr10=comaprison.all() we can use this function to check the overall results of matrix comparison rather by one by one value.
print(comparison)

[[False False False]
 [False False False]]

17. Extract all odd numbers from arr with values(0-9)

In [99]:
arr1d=np.arange(10)
arr1d[arr1d%2!=0]
#Either we cam set arr1d%2=1 same results found.

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [102]:
arr1d=np.arange(10)
arr1d[arr1d%2!=0]=-1
print(arr1d)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [109]:
arrd=np.arange(10)
arrd[5]=12
arrd[6]=12
arrd[7]=12
arrd[8]=12
print(arrd)

[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [115]:
x=np.ones((5,5))
print("Print Original Array:")
print(x)
print("print Updated Array:")
x[1:-1,1:-1]=0
print(x)

Print Original Array:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
print Updated Array:
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [116]:
arr2d= np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
arr2d[1:2,1:2]=12
print(arr2d)

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [7]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[::]=64
print(arr3d)

[[[64 64 64]
  [64 64 64]]

 [[64 64 64]
  [64 64 64]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [12]:
arrr2d=np.array([[0,1,2,3,4],[5,6,7,8,9]])
print(arrr2d)
print("The Sliced Array is :")
arrr2d[:1,1:]

[[0 1 2 3 4]
 [5 6 7 8 9]]
The Sliced Array is :

array([[1, 2, 3, 4]])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [24]:
print("The Sliced 2nd 1 D Array is:")
arrr2d[1:2,1:]

The Sliced 2nd 1 D Array is:

array([[6, 7, 8, 9]])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [39]:
array2d=np.array([[0,1,2],[3,4,5],[6,7,8]])
print("The 2D array is:",array2d)
print("The Sliced values from array are:")
array2d[:2,2:]

The 2D array is: [[0 1 2]
 [3 4 5]
 [6 7 8]]
The Sliced values from array are:

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [42]:
z=np.random.random((10,10))
print("The Original Array is:")
print(z)
print("The min of the Random array is:")
zmin=z.min()
print(zmin)
print("The max of Random array is:")
zmax=z.max()
print(zmax)

The Original Array is:
[[5.83006460e-01 7.59990660e-01 2.44345282e-01 4.84412956e-01
  9.09314603e-01 5.62095691e-01 5.27117322e-01 2.27686780e-01
  9.68854811e-01 5.66861204e-01]
 [5.17615814e-01 1.81660213e-02 2.39952711e-01 6.91238170e-01
  4.72490129e-01 8.44754655e-01 3.52776813e-01 4.92213841e-01
  9.33216953e-01 5.11142402e-01]
 [2.76109388e-01 5.30850261e-01 8.04646594e-01 9.56100319e-01
  9.15845023e-01 1.36154627e-01 6.77658577e-01 9.86826426e-02
  2.63292287e-01 6.57889669e-01]
 [7.54188041e-01 3.69043878e-01 8.19792097e-01 7.08181262e-01
  9.60948163e-01 4.84406856e-01 1.45161454e-01 4.60100462e-01
  7.90692420e-01 3.77856356e-01]
 [9.55572329e-01 9.02432504e-01 4.95481266e-01 3.77178102e-01
  8.76117035e-01 5.33793717e-01 5.50893979e-01 9.52993629e-01
  8.10012105e-01 3.86053784e-01]
 [2.05649125e-01 2.24502559e-01 7.71365053e-01 9.37044875e-01
  6.14153184e-01 7.19356643e-01 5.93038081e-03 2.68050920e-04
  8.89308572e-01 6.20718310e-01]
 [6.34923379e-01 2.29824181e-01 8.59983792e-01 3.40738235e-01
  8.51339908e-02 8.14661994e-01 3.01197632e-01 9.90425056e-01
  9.60304897e-01 3.67640693e-01]
 [7.77405758e-01 9.27784523e-01 1.90908875e-01 5.74256826e-01
  4.57744511e-01 4.55637069e-01 6.16635508e-01 7.54494500e-01
  9.84110085e-01 6.96802614e-01]
 [2.52835096e-01 9.61405919e-01 9.86279952e-01 6.41207134e-01
  8.83849517e-01 7.80275512e-02 4.30661729e-01 4.37116896e-01
  6.77219664e-01 1.00164829e-01]
 [7.89666381e-01 9.50562421e-01 7.76944735e-02 6.49553411e-02
  5.99905721e-01 5.48644284e-01 1.33427145e-01 7.41772854e-01
  3.03641966e-01 3.91323117e-01]]
The min of the Random array is:
0.0002680509203895065
The max of Random array is:
0.9904250561934467

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [43]:
a=np.array([1,2,3,2,3,4,3,4,5,6])
b=np.array([7,2,10,2,7,4,9,4,9,8])
print("The Common Values between a and b are:")
print(np.intersect1d(a,b))

The Common Values between a and b are:
[2 4]

28. a=np.array([1,2,3,2,3,4,3,4,5,6])
b=np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [48]:
a=np.array([1,2,3,2,3,4,3,4,5,6])
b=np.array([7,2,10,2,7,4,9,4,9,8])
[x for x, y in zip(a, b) if x==y]

[2, 2, 4, 4]

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [74]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data=np.random.randn(7, 4)
ok=[names!="will"]
np.size(data),np.size(a)

(28, 10)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [83]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data=np.random.randn(7, 4)
ok=[names!="will,joe"]
np.size(data),np.size(ok),np.size(b)

(28, 7, 7)

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [101]:
array2d=np.arange(15,dtype=np.float64).reshape(5,3)
array2d

array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.],
       [ 6.,  7.,  8.],
       [ 9., 10., 11.],
       [12., 13., 14.]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [118]:
 array11=np.arange(16,dtype=np.float).reshape(2,2,4)
 array11

array([[[ 0.,  1.,  2.,  3.],
        [ 4.,  5.,  6.,  7.]],

       [[ 8.,  9., 10., 11.],
        [12., 13., 14., 15.]]])

33. Swap axes of the array you created in Question 32

In [126]:
print("The previous array is:")
print(array11)
print("The Swapped array is:")
array11.swapaxes(0,2)

The previous array is:
[[[ 0.  1.  2.  3.]
  [ 4.  5.  6.  7.]]

 [[ 8.  9. 10. 11.]
  [12. 13. 14. 15.]]]
The Swapped array is:

array([[[ 0.,  8.],
        [ 4., 12.]],

       [[ 1.,  9.],
        [ 5., 13.]],

       [[ 2., 10.],
        [ 6., 14.]],

       [[ 3., 11.],
        [ 7., 15.]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [12]:
a=np.arange(10)
sqr=np.sqrt(a)
a[sqr==0.5]=0
sqr

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [16]:
a=np.random.rand(12)
b=np.random.rand(12)
c=np.maximum(a,b)
c

array([0.57412245, 0.44300998, 0.78129998, 0.08830401, 0.82153794,
       0.23713455, 0.81998751, 0.681967  , 0.77138698, 0.46659057,
       0.38587627, 0.68878395])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [33]:
names=np.array(['Bob','Joe','Will','Bob','Will','Joe','Joe'])
ok=[names=="will","Bob","Joe"]
print(np.sort(names))

['Bob' 'Bob' 'Joe' 'Joe' 'Joe' 'Will' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [36]:
a=np.array([1,2,3,4,5]) 
b=np.array([5,6,7,8,9])
result=np.setdiff1d(a,b)
print(result)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [70]:
a=np.array([[34,43,73],[82,22,12],[53,94,66]]) 
b=np.array(a)
c=np.delete(b,1,axis=1)
print(c)

[[34 73]
 [82 12]
 [53 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [58]:
x=np.array([[1., 2., 3.],[4., 5., 6.]])
y=np.array([[6., 23.],[-1, 7], [8, 9]])
d=np.dot(x,y)
print("The dot product of x and y is:",d)

The dot product of x and y is: [[ 28.  64.]
 [ 67. 181.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [75]:
y=np.random.rand(20)
print("The matrix with 20 random values is:",y)
z=np.cumsum(y)
print("The cummulative sum is:",z)

The matrix with 20 random values is: [0.05593842 0.23355997 0.70022799 0.22477864 0.65643317 0.05805103
 0.989558   0.90922426 0.126033   0.84937317 0.47323357 0.04494074
 0.00663763 0.22065179 0.00648357 0.76369259 0.79067089 0.3538813
 0.03957126 0.40543252]
The cummulative sum is: [0.05593842 0.2894984  0.98972638 1.21450503 1.8709382  1.92898923
 2.91854723 3.82777149 3.95380449 4.80317765 5.27641122 5.32135196
 5.32798959 5.54864138 5.55512495 6.31881754 7.10948843 7.46336973
 7.50294099 7.90837351]